/* Estilos para la página web */
body {
    background-color: #72471f;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    color: #e6973e;
    font-style: italic;
}

p {
    background-color: black;
    color: darkcyan;
    text-transform: unset;
}

.encabezado {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
}


.parrafo2 {

    text-transform: lowercase;


}

.parrafo {
    text-align: justify;
    font-size: 24px;

}

#fondo {
    background-color: #168b55;
}

p a {
    color: #333;
    
}
.parrafo3{
    background-color: #9c4320;
}
.parrafo4{
    font-size: larger;
}
.parrafo5{
    font-weight: lighter;
}
.parrafo6{
    font-style: unset;
}
.parrafo7{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parrafo8{
    text-align:center;
}
.parrafo9{
    text-decoration:line-through
}
.parrafo10{
    text-transform:uppercase
}
.parrafo11{
    letter-spacing:  60px;
}
.parrafo12{
    line-height: 200% 
}
.parrafo13{
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}